@import 'theme.scss';

footer {
  font-family: Courier;
  font-size: 0.8em;
  color: #0f0;
  margin: 1em;
  text-align: center;

  a {
    color: #ff0;
    font-weight: bold;
  }
}

#aiscript {
  background-color: #000;
  color: #0f0;
  border-color: #050;
  margin-top: 1em;
}

button.back, button.copy {
  font-family: Courier;
  margin: 1em;
  padding: 1em;
  color: $color;
  border: 1px $color solid;
  cursor: pointer;
  background-color: $bgcolor;
  outline: 0;
}

#summary {
  position: relative;
  width: 450px;
  display: inline-block;

  canvas {
    width: 100%;
    height: 100%;
  }

  .controls {
    $margin: 0.2em;
    $buttonWidth: 20%;
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    padding: $margin;
    margin: 0;
    height: 3em;
    width: calc(100% - #{2 * $margin});

    button {
      font-size: 0.7em;
      font-family: Courier;
      padding: auto;
      height: 3em;
      color: $color;
      border: 1px $color solid;
      cursor: pointer;
      background-color: $bgcolor;
      outline: 0;
      margin: 0 $margin;
      width: calc(#{$buttonWidth} - #{2 * $margin});
    }

    button:disabled {
      color: $color2;
      border-color: $color2;
      background-color: $bgcolor2;
      cursor: not-allowed;
    }

    button:active {
      color: $bgcolor;
      background-color: $color;
    }
  }

  #settings {
    width: 70%;
    height: 90%;
    margin: 2% 15%;
  }

  #import {
    width: 50%;
    height: 50%;
    margin: 10% 25%;
  }

  .popup {
    font-family: Courier;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bgcolor;
    border: 3px $color solid;
    color: $color;

    button {
      font-family: Courier;
      background-color: $color;
      color: $bgcolor;
      border: none;
      outline: 0;
      cursor: pointer;
      font-size: 1.5em;
    }

    h1 {
      font-family: Courier;
      background-color: $color;
      color: $bgcolor;
      text-align: left;
      padding: 0.2em 0.5em;
      margin-top: 0;

      .close-button {
        float: right;
        font-size: 1em;
        cursor: pointer;
      }
    }

    table {
      font-family: Courier;
      width: 90%;
      margin: 2em 5%;

      td {
        width: 50%;
        padding: 0.5em;
        border: 1px solid $color;
        text-align: left;
      }

      input, select {
        font-family: Courier;
        width: 100%;
        color: $bgcolor;
        background-color: $color;
      }
    }
  }

}
