<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>kaboom</title>
    <script src="vendor/pixi.min.js"></script>
    <script src="vendor/jsbattle.min.js"></script>
  </head>
  <body style="color: #fff; background-color: #000">
    <div style="border: 1px solid #0f0; padding: 1em; color: #0f0; text-align: center; background-color: #050">
      <span id="summary">
        <div id="import" class="popup">
          <h1>Import Population <button class="close-button">X</button></h1>
          <p>Choose population file from your local drive:</p>
          <p><input type="file" id="import-file" accept=".json"/></p>
        </div>
        <div id="settings" class="popup">
          <h1>Settings <button class="close-button">X</button></h1>
          <table>
            <tbody>
              <tr>
                <td>Concurrency</td>
                <td>
                  <select id="concurrency">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>50</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Battle duration:</td>
                <td>
                  <select id="sim-time">
                    <option value="20000">20s</option>
                    <option value="30000">30s</option>
                    <option value="40000">40s</option>
                    <option value="60000">1m</option>
                    <option value="90000">1m 30s</option>
                    <option value="120000">2m</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Simulation speed:</td>
                <td>
                  <select id="sim-speed">
                    <option value="0.5">0.5x</option>
                    <option value="1">1x</option>
                    <option value="2">2x</option>
                    <option value="3">3x</option>
                    <option value="5">5x</option>
                    <option value="10">10x</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Renderer:</td>
                <td>
                  <select id="renderer">
                    <option value="void">none</option>
                    <option>debug</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Training Units:</td>
                <td>
                  <select id="units-training">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Dummy Units:</td>
                <td>
                  <select id="units-dummy">
                    <option value="0">none</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Dummy Type:</td>
                <td>
                  <select id="dummy-type">
                    <option>static</option>
                    <option>crawler</option>
                    <option>sniper</option>
                    <option>predator</option>
                    <option>kamikaze</option>
                    <option>ttate10</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Mutation Probability:</td>
                <td>
                  <select id="mutation">
                    <option value="0">0.0%</option>
                    <option value="0.001">0.1%</option>
                    <option value="0.005">0.5%</option>
                    <option value="0.01">1.0%</option>
                    <option value="0.02">2.0%</option>
                    <option value="0.05">5.0%</option>
                    <option value="0.10">10.0%</option>
                    <option value="0.20">20.0%</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button id="save-button">Save</button>
        </div>
      </span>
      <span id="sim"></span>
    </div>
    <footer>
      Code hosted on <a href="https://github.com/ttate10/kaboom" target="_blank">GitHub</a>. This project is licensed under the terms of the MIT license.
    </footer>
  </body>
</html>
